<style>
  body {
    background-image: url('https://images.squarespace-cdn.com/content/v1/5402e23ce4b0a7034afad3a2/1624012256975-N25TPPJMEIA8V9IHKKLK/Gin+Garnish+Guide.jpg?format=2500w');
  }
</style>
<div class="container">
  <h1>Cocktail!</h1>
  <h2><%= link_to "Create a cocktail", new_cocktail_path %></h2>
  <div class="card-tags">
    <% @cocktails.each do |cocktail| %>
      <p><%= link_to cocktail.name, cocktail_path(cocktail) %></p>
        <%# <p><%= cocktail.name %>
    <% end %>
  </div>
</div>
